* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #250112;
  color: #f5f9f9;
  max-width: 800px;
  font-family: arial;
};
header{
  margin: 15px 0;
}
.gameSec, .nameTittle, .namesDiv {
  display: flex;
}

.nameHead, .nameInp, .nameTittle,.namesDiv,.p1Btns, .p2Btns {
  padding-top: 5px;
}
.nameHead {
  padding: 5px 0 5px 10px;
}
.nameTittle, .namesDiv {
  width: 200px;
  justify-content: space-between;
  margin: 15px 0;
}
.nameTittle {
  border-bottom: 1px solid #a69574;
  padding-bottom: 15px;
}
input {
  width: 130px;
  padding: 5px;
  height: 23px;
  border-radius: 20px;
  border: 1px solid transparent;
}
.enterBtn {
  margin-left: -2px;
  width: 55px;
  height: 34px;
  border-radius: 15px;
  border: none;
  background-color: #756217;
  color: white;
}
.fightDiv {
  color: #d02323;
}
.nameSec, h3 {
  margin-left: -10px;
}
.gameSec{
  padding-top: 20px;
}
.p1Div {
  margin-right: 50px;
}
.p1Strength, .p2Strength {
  padding-left: 10px;
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
  padding-bottom: 10px;
}
img {
  height: 80px;
  width: 80px;
  padding: 20px 0;
}
.p1Btns, .p2Btns {
  margin-left: -25px;
}
.horizontalBtn {
  display: flex;
}
.p1Btns button, .p2Btns button {
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: solid 2px brown;
  font-size: 9px;
  font-weight: bold;
}

.verticalBtn {
  margin-left: 27px;
}